{% extends "scaffolds/base.html" %}

{% block content %}
    <div class="container p-3">
        <div class="col-lg-6 shadow mx-auto p-5">
            <h1> 上傳照片來看你吃的是什麼吧！ </h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label>測試照片</label>
                    <input class="form-control" type="file" name="image" accept="image/jpeg">
                </div>
                <div class="text-center">
                    <input class="btn btn-primary btn-lg mt-3" type="submit" value="送出">
                </div>
                <div class="text-center">
                   {% if result %}
        <h3>分類結果</h3>
        <p>{{ result }}</p>
         {% endif %}
         {% if food_infos %}
        <h3>食材營養資訊</h3>
        <table>
        <tr><th>食材</th><th>熱量</th><th>蛋白質</th><th>碳水化合物</th></tr>
        {% for food in food_infos %}
            <tr>
            <td>{{ food.name_zh }}</td>
            <td>{{ food.calories }}</td>
            <td>{{ food.protein }}</td>
            <td>{{ food.carbs }}</td>
            </tr>
        {% endfor %}
        </table>
         {% endif %}

                </div>
            </form>
        </div>
         
    </div>
    {% if result %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">推論結果</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{ result }}{{ food_infos }}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
        </div>
        </div>
    </div>
    {% endif %}
    <script>
        {% if result %}
        window.onload = function(){
            var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
            myModal.show()
        }
        {% endif %}
    </script>
{% endblock %}
